<section class="section about" id="about">
  <h2 class="about-title">About <span>Us</span></h2>

  <p class="about-text">
    We are dedicated to providing engaging and effective English language
    courses in a supportive and stimulating learning environment.
  </p>

  <div class="about-content">
    <ol class="about-list">
      <li class="about-item">
        <h3 class="about-item-title">01</h3>
        <p class="about-item-text">Expert, innovative teaching staff</p>
      </li>

      <li class="about-item">
        <h3 class="about-item-title">02</h3>
        <p class="about-item-text">Wide range of course levels and options</p>
      </li>

      <li class="about-item">
        <h3 class="about-item-title">03</h3>
        <p class="about-item-text">Multicultural learning environment</p>
      </li>

      <li class="about-item">
        <h3 class="about-item-title">04</h3>
        <p class="about-item-text">Comprehensive language support services</p>
      </li>
    </ol>

    <div class="about-img">
      <img
        src="./img/about/about-memoji.png"
        srcset="
          ./img/about/about-memoji.png    1x,
          ./img/about/about-memoji@2x.png 2x
        "
        alt="Happy Emoji"
      />
    </div>
  </div>
</section>
