<section class="section about" id="about">
  <h2 class="section-title">
    About <span class="section-title-part">Us</span>
  </h2>

  <p class="about-text">
    We are dedicated to providing engaging and effective English language
    courses in a supportive and stimulating learning environment.
  </p>

  <div class="about-content">
    <ol class="about-list">
      <li class="about-item">
        <p class="about-item-text">Expert, innovative teaching staff</p>
      </li>

      <li class="about-item">
        <p class="about-item-text">Wide range of course levels and options</p>
      </li>

      <li class="about-item">
        <p class="about-item-text">Multicultural learning environment</p>
      </li>

      <li class="about-item">
        <p class="about-item-text">Comprehensive language support services</p>
      </li>
    </ol>

    <div class="about-img">
      <img
        width="254"
        height="211"
        src="./img/about/about-memoji.webp"
        srcset="
          ./img/about/about-memoji.webp    1x,
          ./img/about/about-memoji@2x.webp 2x
        "
        alt="Happy Emoji"
      />
    </div>
  </div>
</section>
