<section class="section lessons" id="lessons">
  <div class="container">
    <div class="our-lessons-top">
      <h2 class="section-title">
        Our <span class="section-title-part">lessons</span>
      </h2>
      <p class="our-lessons-text">
        Our lessons are carefully structured and interactive, designed to
        promote rapid language acquisition through practical tasks and
        real-world scenarios
      </p>
    </div>
    <div class="our-lessons-bottom">
      <ul class="our-lessons-items">
        <li class="our-lessons-item">
          <div class="lessons-item-top">
            <h3 class="lessons-item-title">Practice</h3>
            <h4 class="lessons-item-price">40$ / month</h4>
            <p class="lessons-item-text">
              This plan offers an opportunity for learners to engage in
              collaborative language exercises and group activities, boosting
              their conversational skills and confidence in using English.
            </p>
          </div>

          <a class="primary-button our-lessons-item-link" href="#application"
            >Leave an application</a
          >
        </li>
        <li class="our-lessons-item">
          <div class="lessons-item-text">
            <h3 class="lessons-item-title lessons-item-title-inverse">
              Standard
            </h3>
            <h4 class="lessons-item-price lessons-item-price-inverse">
              70$ / month
            </h4>
            <p class="lessons-item-text lessons-item-text-inverse">
              Our standard package provides a balanced learning approach that
              covers all key areas of English language - reading, writing,
              listening, and speaking. It is a set of basic knowledge and
              skills.
            </p>
          </div>
          <a
            class="primary-button inverse-button our-lessons-item-link"
            href="#application"
            >Leave an application</a
          >
        </li>
        <li class="our-lessons-item">
          <div class="lessons-item-text">
            <h3 class="lessons-item-title">Individual</h3>
            <h4 class="lessons-item-price">99$ / month</h4>
            <p class="lessons-item-text">
              We offer a tailored learning experience with individualized
              instruction that focuses on a learner's specific language goals
              and challenges, offering personal feedback.
            </p>
          </div>
          <a class="primary-button our-lessons-item-link" href="#application"
            >Leave an application</a
          >
        </li>
      </ul>
    </div>
  </div>
</section>
