<section class="proposal">
  <div class="container">
    <h2 class="visually-hidden">Proposal to leave an application</h2>

    <div class="proposal-block">
      <p class="proposal-text">
        Master the <span class="accent">Language</span> with Our English
        Package!
      </p>
      <div class="proposal-card__wrapper">
        <div class="proposal-card">
          <h3 class="proposal-card__title" id="proposal-title">
            Power of English
          </h3>
          <ul class="proposal-card__list" aria-labelledby="proposal-title">
            <li class="proposal-card__item">
              <span class="checkmark__wrapper" aria-hidden="true">
                <svg class="checkmark">
                  <use href="../img/sprite.svg#checkmark" />
                </svg>
              </span>
              Dive into captivating lessons designed to stimulate your
              curiosity.
            </li>
            <li class="proposal-card__item">
              <span class="checkmark__wrapper" aria-hidden="true">
                <svg class="checkmark">
                  <use href="../img/sprite.svg#checkmark" />
                </svg>
              </span>
              Learn in a nurturing setting where every student's progress
              matters.
            </li>
            <li class="proposal-card__item">
              <span class="checkmark__wrapper" aria-hidden="true">
                <svg class="checkmark">
                  <use href="../img/sprite.svg#checkmark" />
                </svg>
              </span>
              Experience the satisfaction of real progress as your language
              skills and confidence grow with every session.
            </li>
          </ul>

          <a href="#contact" class="primary-button">Leave an application</a>
        </div>
      </div>
    </div>
  </div>
</section>
