<section class="section teachers" id="teachers">
  <div class="container">
    <h2 class="section-title">
      Meet our <span class="section-title-part">teachers</span>
    </h2>

    <p class="teachers-text">
      Discover our team of dedicated educators, committed to guiding you on your
      journey to English proficiency with personalized and engaging instruction
    </p>

    <ul class="teachers-list">
      <li class="teachers-item">
        <img
          class="teachers-image"
          src="./img/teachers/maria.jpg"
          srcset="./img/teachers/maria.jpg 1x, ./img/teachers/maria@2x.jpg 2x"
          alt="Maria"
          width="150"
          height="150"
        />
        <h3 class="teachers-name">Maria</h3>
        <p class="teachers-description">
          A seasoned linguist and our primary specialist in beginner-level
          instruction, Maria brings warmth and patience to every class
        </p>
      </li>

      <li class="teachers-item">
        <img
          class="teachers-image"
          src="./img/teachers/artem.jpg"
          srcset="./img/teachers/artem.jpg 1x, ./img/teachers/artem@2x.jpg 2x"
          alt="Artem"
          width="150"
          height="150"
        />
        <h3 class="teachers-name">Artem</h3>
        <p class="teachers-description">
          With his innovative teaching techniques and a focus on interactive
          learning, Artem excels in keeping students engaged and motivated
        </p>
      </li>

      <li class="teachers-item">
        <img
          class="teachers-image"
          src="./img/teachers/ilona.jpg"
          srcset="./img/teachers/ilona.jpg 1x, ./img/teachers/ilona@2x.jpg 2x"
          alt="Ilona"
          width="150"
          height="150"
        />
        <h3 class="teachers-name">Ilona</h3>
        <p class="teachers-description">
          A specialist in advanced English, Ilona provides intensive
          instruction, ensuring students gain confidence in complex language
          tasks
        </p>
      </li>

      <li class="teachers-item">
        <img
          class="teachers-image"
          src="./img/teachers/volodymyr.jpg"
          srcset="
            ./img/teachers/volodymyr.jpg    1x,
            ./img/teachers/volodymyr@2x.jpg 2x
          "
          alt="Volodymyr"
          width="150"
          height="150"
        />
        <h3 class="teachers-name">Volodymyr</h3>
        <p class="teachers-description">
          Our expert in English for specific purposes, Volodymyr tailors his
          approach to meet individual career and industry-specific language
          needs
        </p>
      </li>
    </ul>
  </div>
</section>
