:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  /* Base colors */
  --color-black: #121417;
  --color-green: #4dc274;
  --color-linear: gradient(80deg, #4dc274 0%, #bee8cc 100%);
  --color-light_green: #d4fde1;
  --color-gray: #f3f5f6;
  --color-white: #fff;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;

  font-family: "Manrope", sans-serif;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}