.proposal {
  margin-bottom: 150px;
}

.proposal-block {
  padding: 40px 20px 64px;
  border-radius: 16px;
  background: var(--color-linear);
  overflow: hidden;
}

@media (min-width: 768px) {
  .proposal-block {
    padding: 64px 18px 93px;
    border-radius: 30px;
    overflow: visible;
  }
}

@media (min-width: 1280px) {
  .proposal-block {
    padding: 64px 64px 142px;
  }
}

.proposal-text {
  margin-bottom: 65px;
  font-weight: 700;
  font-size: 38px;
  line-height: 1.05;
  color: #fff;

  & .accent {
    color: var(--color-green-accent);
  }
}

@media (min-width: 768px) {
  .proposal-text {
    margin-bottom: 83px;
    padding-left: 14px;
    padding-right: 14px;
    font-size: 60px;
    line-height: 1.17;
  }
}

@media (min-width: 1280px) {
  .proposal-text {
    margin-bottom: 133px;
    padding: 0;
    max-width: 776px;
  }
}

.proposal-card__wrapper {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    background-color: var(--color-white-transparent-05);
    transform: rotate(11deg);
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    background-color: var(--color-light_green);
    transform: rotate(-9deg);
  }
}

@media (min-width: 768px) {
  .proposal-card__wrapper {
    &::before {
      top: 6px;
      left: 8px;
      width: 668px;
      border-radius: 30px;
    }

    &::after {
      border-radius: 30px;
      transform: rotate(-10deg);
    }
  }
}

@media (min-width: 1280px) {
  .proposal-card__wrapper {
    &::before {
      top: 47px;
      left: 5px;
      width: 1010px;
      height: 401px;
    }

    &::after {
      top: 10px;
      left: -23px;
      width: 1049px;
      height: 462px;
      transform: rotate(-8deg);
    }
  }
}

.proposal-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  background-color: var(--color-white);
  border-radius: 16px;
  padding: 40px 20px;
  z-index: 1;
}

@media (min-width: 768px) {
  .proposal-card {
    gap: 32px;
    border-radius: 30px;
    padding: 64px 32px;

    &::after {
      content: '';
      position: absolute;
      bottom: 63px;
      right: -48px;
      display: block;
      width: 214px;
      height: 263px;
      background-image: url('../img/proposals/books.png');
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}

@media (min-resolution: 2x) and (min-width: 768px) {
  .proposal-card::after {
    background-image: url('../img/proposals/books@2x.png');
  }
}

@media (min-width: 1280px) {
  .proposal-card {
    gap: 40px;
    padding: 64px;

    &::after {
      bottom: 79px;
      right: 0;
    }
  }
}

.proposal-card__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.02em;
}

@media (min-width: 768px) {
  .proposal-card__title {
    font-size: 40px;
  }
}

.proposal-card__list {
  max-width: 449px;
}

@media (min-width: 1280px) {
  .proposal-card__list {
    max-width: 654px;
  }
}

.proposal-card__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: -0.02em;

  &:not(:last-child) {
    margin-bottom: 16px;
  }

  & .checkmark__wrapper {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    background-color: var(--color-green);
    border-radius: 50%;
    position: relative;
  }

  & .checkmark {
    height: 13px;
    width: 13px;
    fill: none;
  }
}

@media (min-width: 768px) {
  .proposal-card__item {
    gap: 16px;
    font-size: 20px;
    line-height: 1.2;

    & .checkmark__wrapper {
      width: 28px;
      height: 28px;
    }

    & .checkmark {
      width: 20px;
      height: 20px;
    }
  }
}
